.card-contacts-hr {
  position: sticky;
  top: 130px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--gray-10, #EAEAEA);
  @media (max-width: 1100px) {
    top: 100px;
  }
  @media (max-width: 1000px) {
    position: static;
  }
  &__top {
    padding: 36px;
    border-radius: 20px;
    background-color: var(--gray, #F5F5F5);
    display: flex;
    flex-direction: column;
    @media (max-width: 1100px) {
      padding: 28px;
    }
    @media (max-width: 1000px) {
      padding: 24px;
    }
  }
  &__title {
    margin-bottom: 20px;
    color: var(--black, #000);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    @media (max-width: 1100px) {
      font-size: 20px;
    }
    @media (max-width: 1000px) {
      margin-bottom: 16px;
    }
  }
  &__group-contact {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 1100px) {
      gap: 16px;
    }
    @media (max-width: 1000px) {
      gap: 12px;
    }
    .box-contact {
      &-group {
        display: flex;
        flex-direction: column;
        gap: 3px;
      }
      &.mail {
        a {
          color: var(--blue);
          @media (max-width: 1100px) {
            font-size: 18px;
          }
          @media (max-width: 1000px) {
            font-size: 17px;
          }
        }
      }
      .text {
        opacity: 1;
        color: var(--gray-text, #C8C7C7);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        @media (max-width: 1100px) {
          font-size: 16px;
        }
        @media (max-width: 1000px) {
          font-size: 14px;
        }
      }
      .info {
        color: var(--black, #000);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        @media (max-width: 1100px) {
          font-size: 18px;
        }
        @media (max-width: 1000px) {
          font-size: 17px;
        }
      }
    }
  }
  &__desc {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    @media (max-width: 1100px) {
      font-size: 14px;
    }
  }
  &__box-link {
    padding: 36px;
    @media (max-width: 1100px) {
      padding: 28px;
    }
  }
}