.drop-down-type-2 {
  position: absolute;
  z-index: 3;
  inset: 0 0 auto 0;
  border-radius: 20px;
  background-color: var(--white);
  border: 1px solid #EAEAEA;
  &__btn {
    padding: 2px 24px;
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    .svg {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    svg {
      transition: transform 0.4s ease-in-out;
    }
    &.active {
      svg {
        transform: rotate(180deg);
      }
      & + .drop-down-type-2__box {
        display: block;
      }
    }
  }
  &__box {
    display: none;
    &.active {
      display: block;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__btn-district {
    padding: 2px 24px;
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    .svg {
      border-radius: 100%;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      transition: background-color 0.4s ease-in-out;
    }
    &.active {
      color: var(--blue, #004A97);
      .svg {
        background-color: var(--blue, #004A97);
      }
    }
  }
}