.textarea-type-1 {
  position: relative;
  width: 100%;
  display: flex;
  &__textarea {
    min-height: 150px;
    resize: none;
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 16px;
    background-color: var(--white, #FFF);
    color: var(--black, #141414);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.333%;
    transition: background-color 0.4s ease-in-out;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &.error {
      background-color: #dea2a240;
      & + .input-error-info {
        opacity: 1;
        visibility: visible;
      }
    }
    &::placeholder {
      color: var(--gray-text, #C8C7C7);
    }
    &:focus,&:focus-visible {
      outline: none;
    }
    @media (max-width: 1100px) {
      font-size: 17px;
    }
    @media (max-width: 1000px) {
      font-size: 16px;
    }
  }
  span.input-error-info {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 1px;
    right: 16px;
    pointer-events: none;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: rgb(138, 0, 0);
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  }
}