<div class="path">
  <div class="container">
    <ul class="path__list list-reset">
      <li>
        <a href="/">Главная страница</a>
      </li>
      <li>
        <a href="#">Продукция</a>
      </li>
      <li>
        <a href="#">Промышленные объекты</a>
      </li>
    </ul>
    <div class="path__box-back">
      <a class="path__link-back" href="#">
        <svg width="32" height="21" viewBox="0 0 32 21" fill="none">
          <use xlink:href="img/sprite.svg#arrBack"></use>
        </svg>
        <span class="text">Вернуться назад</span>
      </a>
    </div>
  </div>
</div>